# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
*.env

# SQLite database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store

# Node
node_modules/
dist/

# Logs
*.log

